%strong Started:
= event_generator.start_date

- if event_generator.end_date
  %strong Ended:
  = event_generator.end_date
- else
  = link_to "End period", edit_event_event_generator_path(event, event_generator), class: "button tiny alert"
