/ test page to show that Main.elm displays

.row.container
  .columns.small-12
    %header.billboard
      %h1 This is a test
      %p Listings of Lindy Hop classes and socials in London
    %hr

.row.container
  = javascript_pack_tag "hello_elm"