%h2 Dance Classes
= render partial: "common/sieve_search_box"
%ul.no-bullet.sieve
  - @dance_classes.each do |dance_class|
    %li
      = dance_class.day_name.pluralize
      at
      = dance_class.venue.name