-if resource.errors.any?
  .alert-box.alert{ data: { alert: true } }
    = "#{ pluralize(resource.errors.count, "error") } prevented this event from being saved"
    =link_to "&times;".html_safe, "#", class: "close"