@import '_colours.scss';
@import '_fonts.scss';

$border-standard: solid 3px;

$body-font-family: $font-primary;

@import 'foundation/components/grid';
@import 'foundation/components/type';


// Prevent iOS resizing text
body { -webkit-text-size-adjust:100%; }

body {
  font-family: $font-primary;
}

header.billboard {
  text-align: center;
  h1 {
    text-transform: uppercase;
    font-size: 65px;
  }
  p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

header.listing {
  text-align: center;
  h1 {
    text-transform: uppercase;
    font-size: 41px;
  }
  p {
    font-size: 22px;
  }
}

header.social-date {
  h3 {
    text-align: center;
  }
}

hr {
  border-bottom: $border-standard;
}

#classes>ul {
  border-right: $border-standard;
}

.container {
  background-color: $background-colour;
}

