#sieve_search_box.row
  .columns.small-12.medium-8.large-6
    .row.collapse
      .small-2.medium-1.columns
        %span.prefix
          %i.fi-magnifying-glass
      .small-10.medium-11.columns
        %input{ type: 'search', placeholder: 'Search...', class: 'sieve_search_box' }